<% const imagesConverter = {
    'Chemistry': 'chem.png',
    'Machine Learning': 'ml.jpg',
    'Mathematics': 'maths.jpg',
    'Data Science': 'DS.jpg',
    'Economics': 'economics.jpg',
    'Artificial Intelligence': 'ai.jpg',
    'Computer Science': 'cs.jpg',
    'Physics': 'physics.jpg',
    'Biology': 'biology.jpg',
    'Psychology': 'psychology.jpg',
    'Sociology': 'sociology.jpg',
    'Medicine': 'medicine.jpg',
    'Environmental Science': 'envsci.jpg',
    'Business Management': 'business.jpg',
    'Political Science': 'politics.jpg',
    'History': 'history.jpg',
    'Literature': 'literature.jpg',
    'Software Engineering': 'se.jpg',
    'Education': 'education.jpg',
    'Philosophy': 'philosophy.jpg',
    'Geology': 'geology.jpg',
    'Astrophysics': 'astrophysics.jpg',
    'Bioinformatics': 'bioinformatics.jpg',
    'Neuroscience': 'neuroscience.jpg',
    'Robotics': 'robotics.jpg',
    'Astronomy': 'astronomy.jpg',
    'Electrical Engineering': 'ee.jpg',
    'Mining Engineering': 'me.jpg',
    'Genetics': 'genetics.jpg',
    'Linguistics': 'linguistics.jpg',
    'Anthropology': 'anthropology.jpg',
    'Geography': 'geography.jpg',
    'Law': 'law.jpg',
    'Marketing': 'marketing.jpg',
    'Art': 'art.jpg',
    'Architecture': 'architecture.jpg',
    'Music': 'music.jpg',
    'Philology': 'philology.jpg',
    'Criminology': 'criminology.jpg',
    'Statistics': 'statistics.jpg',
    'Health Sciences': 'healthsciences.jpg',


    'Agriculture': 'Agriculture'.jpg,
    'Astrobiology': 'Astrobiology'.jpg,
    'Behavioral Science': 'Behavioral Science'.jpg,
    'Biomechanics': 'Biomechanics'.jpg,
    'Biophysics': 'Biophysics'.jpg,
    'Cognitive Science': 'Cognitive Science'.jpg,
    'Cybersecurity': 'Cybersecurity'.jpg,
    'Digital Media': 'Digital Media'.jpg,
    'Ecology': 'Ecology'.jpg,
    'Energy Engineering': 'Energy Engineering'.jpg,
    'Ethics': 'Ethics'.jpg,
    'Fashion Design': 'Fashion Design'.jpg,
    'Financial Management': 'Financial Management'.jpg,
    'Game Theory': 'Game Theory'.jpg,
    'Gender Studies': 'Gender Studies'.jpg,
    'Human-Computer Interaction': 'Human-Computer Interaction'.jpg,
    'International Business': 'International Business'.jpg,
    'Knowledge Management': 'Knowledge Management'.jpg,
    'Meteorology': 'Meteorology'.jpg,
    'Mobile Computing': 'Mobile Computing'.jpg,
    'Nanoscience': 'Nanoscience'.jpg,
    'Organizational Behavior': 'Organizational Behavior'.jpg,
    'Paleontology': 'Paleontology'.jpg,
    'Quantum Mechanics': 'Quantum Mechanics'.jpg,
    'Renewable Energy': 'Renewable Energy'.jpg,
    'Social Psychology': 'Social Psychology'.jpg,
    'Space Exploration': 'Space Exploration'.jpg,
    'Supply Chain Management': 'Supply Chain Management'.jpg,
    'Urban Planning': 'Urban Planning'.jpg,
    'Virtual Reality': 'Virtual Reality'.jpg,
    'Web Development': 'Web Development'.jpg,
    


  }; %>
  



<% userInterests.forEach(function(item) { %>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <h5><%= item.interest1.searchQueryName %></h5>  
          <div class="row">
            <h5 class="discription">Content Type:</h5>
            <h5 class="discription2"><%= item.interest1.ContentType %></h5>
            
          </div>
          <div class="row">
            <h5 class="discription">Range:</h5>
            <h5 class="discription2"><%= item.interest1.Ranges.replace(/_Year/g, '').replace(/_/g, ' to ') %></h5>

          </div>
          <% if (imagesConverter.hasOwnProperty(item.interest1.searchQueryName)) { %>
            <img class="Image" src="<%= imagesConverter[item.interest1.searchQueryName] %>" alt="">
          <% } %>
        </div>
        <div class="carousel-item">
          <h5><%= item.interest2.searchQueryName %></h5>
          <div class="row">
            <h5 class="discription">Content Type:</h5>
            <h5 class="discription2"><%= item.interest2.ContentType %></h5>
          </div>
          <div class="row">
            <h5 class="discription">Range:</h5>
            <h5 class="discription2"><%= item.interest2.Ranges.replace('_Year', ' ').replace('_',' to ') %></h5>
          </div>
          <% if (imagesConverter.hasOwnProperty(item.interest2.searchQueryName)) { %>
            <img class="Image" src="<%= imagesConverter[item.interest2.searchQueryName] %>" alt="">
          <% } %>
        </div>
        <div class="carousel-item">
          <h5><%= item.interest3.searchQueryName %></h5>
          <div class="row">
            <h5 class="discription">Content Type:</h5>
            <h5 class="discription2"><%= item.interest3.ContentType %></h5>
          </div>
         
          <div class="row">
            <h5 class="discription">Range:</h5>
            <h5 class="discription2"><%= item.interest3.Ranges.replace('_Year', ' ').replace('_',' to ') %></h5>
          </div>
          <% if (imagesConverter.hasOwnProperty(item.interest3.searchQueryName)) { %>
            <img class="Image" src="<%= imagesConverter[item.interest3.searchQueryName] %>" alt="">
          <% } %>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  <% }); %>
  
  