<% const imagesConverter = {
  'Agriculture': 'Agriculture.jpg',
  'Anthropology': 'anthropology.jpg',
  'Architecture': 'architecture.jpg',
  'Art': 'art.jpg',
  'Artificial Intelligence': 'ai.jpg',
  'Astrobiology': 'Astrobiology.jpg',
  'Astrophysics': 'astrophysics.jpg',
  'Astronomy': 'astronomy.jpg',
  'Behavioral Science': 'BS.jpg',
  'Biodegradable Materials': 'biodegradable.jpg',
  'Bioinformatics': 'bioinformatics.jpg',
  'Biology': 'biology.jpg',
  'Biomechanics': 'Biomechanics.jpg',
  'Biophysics': 'Biophysics.jpg',
  'Business Management': 'business.jpg',
  'Chemistry': 'chem.png',
  'Cognitive Science': 'CoS.jpg',
  'Computer Science': 'cs.jpg',
  'Criminology': 'criminology.jpg',
  'Cybersecurity': 'Cybersecurity.jpg',
  'Data Science': 'DS.jpg',
  'Digital Media': 'DM.jpg',
  'Ecology': 'Ecology.jpg',
  'Economics': 'economics.jpg',
  'Education': 'education.jpg',
  'Electrical Engineering': 'ee.jpg',
  'Energy Engineering': 'EyEg.jpg',
  'Environmental Science': 'envsci.jpg',
  'Ethics': 'Ethics.jpg',
  'Fashion Design': 'FashionDesign.jpg',
  'Financial Management': 'FinancialManagement.jpg',
  'Game Theory': 'GameTheory.jpg',
  'Gender Studies': 'GenderStudies.jpg',
  'Genetics': 'genetics.jpg',
  'Geography': 'geography.jpg',
  'Geology': 'geology.jpg',
  'Health Sciences': 'healthsciences.jpg',
  'History': 'history.jpg',
  'International Business': 'InternationalBusiness.jpg',
  'Knowledge Management': 'KnowledgeManagement.jpg',
  'Law': 'law.jpg',
  'Linguistics': 'linguistics.jpg',
  'Literature': 'literature.jpg',
  'Machine Learning': 'ml.jpg',
  'Marketing': 'marketing.jpg',
  'Mathematics': 'maths.jpg',
  'Medicine': 'medicine.jpg',
  'Meteorology': 'Meteorology.jpg',
  'Mining Engineering': 'me.jpg',
  'Mobile Computing': 'MobileComputing.jpg',
  'Music': 'music.jpg',
  'Nanoscience': 'Nanoscience.jpg',
  'Neuroscience': 'neuroscience.jpg',
  'Organizational Behavior': 'OrganizationalBehavior.jpg',
  'Paleontology': 'Paleontology.jpg',
  'Philology': 'philology.jpg',
  'Philosophy': 'philosophy.jpg',
  'Physical Education': 'physical-education.jpg',
  'Physics': 'physics.jpg',
  'Political Science': 'politics.jpg',
  'Psychology': 'psychology.jpg',
  'Quantum Mechanics': 'QuantumMechanics.jpg',
  'Renewable Energy': 'RenewableEnergy.jpg',
  'Robotics': 'robotics.jpg',
  'Social Psychology': 'SocialPsychology.jpg',
  'Sociology': 'sociology.jpg',
  'Software Engineering': 'se.jpg',
  'Space Exploration': 'SpaceExploration.jpg',
  'Statistics': 'statistics.jpg',
  'Supply Chain Management': 'SupplyChainManagement.jpg',
  'Urban Planning': 'UrbanPlanning.jpg',
  'Virtual Reality': 'VirtualReality.jpg',
  'Web Development': 'WebDevelopment.jpg',
  }; %>
  



<% userInterests.forEach(function(item) { %>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <h5><%= item.interest1.searchQueryName %></h5>  
          <div class="row">
            <h5 class="discription">Content Type:</h5>
            <h5 class="discription2"><%= item.interest1.ContentType %></h5>
            
          </div>
          <div class="row">
            <h5 class="discription">Range:</h5>
            <h5 class="discription2"><%= item.interest1.Ranges.replace(/_Year/g, '').replace(/_/g, ' to ') %></h5>

          </div>
          <% if (imagesConverter.hasOwnProperty(item.interest1.searchQueryName)) { %>
            <img class="Image" src="<%= imagesConverter[item.interest1.searchQueryName] %>" alt="">
          <% } %>
        </div>
        <div class="carousel-item">
          <h5><%= item.interest2.searchQueryName %></h5>
          <div class="row">
            <h5 class="discription">Content Type:</h5>
            <h5 class="discription2"><%= item.interest2.ContentType %></h5>
          </div>
          <div class="row">
            <h5 class="discription">Range:</h5>
            <h5 class="discription2"><%= item.interest2.Ranges.replace('_Year', ' ').replace('_',' to ') %></h5>
          </div>
          <% if (imagesConverter.hasOwnProperty(item.interest2.searchQueryName)) { %>
            <img class="Image" src="<%= imagesConverter[item.interest2.searchQueryName] %>" alt="">
          <% } %>
        </div>
        <div class="carousel-item">
          <h5><%= item.interest3.searchQueryName %></h5>
          <div class="row">
            <h5 class="discription">Content Type:</h5>
            <h5 class="discription2"><%= item.interest3.ContentType %></h5>
          </div>
         
          <div class="row">
            <h5 class="discription">Range:</h5>
            <h5 class="discription2"><%= item.interest3.Ranges.replace('_Year', ' ').replace('_',' to ') %></h5>
          </div>
          <% if (imagesConverter.hasOwnProperty(item.interest3.searchQueryName)) { %>
            <img class="Image" src="<%= imagesConverter[item.interest3.searchQueryName] %>" alt="">
          <% } %>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  <% }); %>
  
  